<!-- === HEADER / BREADCRUMBS === -->
<div class="main-header-box">

    <!-- === MAIN HEADER === -->
    <div class="row main-header">

        <div class="col-4 logo-left">
            <img src="../../assets/01_logo02_transparent.png" alt="Firmenlogo">
        </div>
        <div class="col-4 logo-center">
            <img src="../../assets/02_header_anhaenger.png" alt="Logo mit Anhaengern"><br>
            <span>Beratungshotline: 555 0555 55 55555</span>
        </div>
        <div class="col-4 shoppingCart">            
        </div>
    </div>

    <!-- === BREADCRUMBS === -->
    <div class="breadcrumbs-box">
        <div class="row">

            <div class="col-6 breadcrumbs">
                <span>Breadcrumbs</span>
            </div>
            <div class="col-6 menu">
                <span>Menü</span>
            </div>
        </div>
    </div>    
</div>

<!-- === NAVIGATION / CONTENT / ADDITIONAL DATA === -->
<div class="content-row">

    <!-- === NAVIGATION === -->
    <div class="column navigation">
        <button>Navigationspunkt 1</button>
        <button>Navigationspunkt 2</button>
        <button>Navigationspunkt 3</button>
    </div>
    
    <!-- === CONTENT === -->
    <div class="column content">
        <div class="content-box">

            <!-- === CONTENT HEADER === -->
            <div class="content-header">
            </div>
            
            <div class="content-header2">
                <span>Content-Header</span>
            </div>

            <!-- === MAIN CONTENT === -->
            <div class="main-content">

                <!-- === INPUT FORM === -->
                <form action="" method="get">

                    <!-- === LINE I === -->
                    <div class="row">
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">ID</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="2163" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Vorname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Nachname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Kurzname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- === LINE II === -->
                    <div class="row">
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">ID</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="2163" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Vorname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Nachname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Kurzname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- === LINE III === -->
                    <div class="row">
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">ID</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="2163" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Vorname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Nachname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Kurzname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- === LINE IV === -->
                    <div class="row">
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">ID</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="2163" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Vorname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Nachname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 content-line">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="test">Kurzname</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" name="test" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>



                    
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis unde voluptate sunt, neque ratione mollitia, voluptatem facilis repellendus est beatae modi atque qui asperiores delectus! Quo obcaecati asperiores impedit porro.



                </form>
            </div>            
        </div>
    </div>

    <div class="column additional-data">Zusatzinformationen</div>

</div>

<!-- === FOOTER === -->
<div class="footer">
    <h2>Footer</h2>
</div>
